.projects__container
{
    display: grid;
    place-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    max-width: 100px;
    /* height: fit-content; */

}

.projects__item 
{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    /* border-radius: 2rem; */
    /* border: 1px solid transparent; */
    transition: var(--transition);
    height: fit-content;
}
.projects__item:hover
{
    border-color:var(--color-primary-variant);
    background: transparent;
}
.projects__item-image
{
    /* border-radius: 1.5rem; */
    overflow: hidden;

}
.projects__item h3
{
    margin: 0.1rem 0 ;
    text-align: center;
}
.projects__item-cta
{
    display: flex;
    gap: 1rem;
    /* margin-bottom: 1rem; */
}

.btn1
{
    padding: 1.5rem;
}

.projects__button
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 68px;
}


/*  MEDIA QUERIES ( SMALL DEVICES = Mobile Phones )  */

@media screen and (max-width: 600px) 
{
    .projects__container
    {
        /* grid-template-columns: 1fr 1fr; */
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }
}

/*  MEDIA QUERIES ( MEDIUM DEVICES = Tablets )  */

@media screen and (max-width: 1024px) 
{
    .projects__container
    {
        grid-template-columns: 1fr ;
        gap: 1rem;
    }
    .projects
    {
        height: auto;
    }
}