@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Permanent+Marker&display=swap');

*
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;  
    scroll-behavior: smooth;  
}

:root
{
    --color-bg: #0A0A0A;
    --color-bg-variant: #064663;
    --color-primary: #93edf6;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-white:  #fff;
    --color-light: rgba(255, 255, 255, 0.6);

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

html 
{
    scroll-behavior: smooth;
}
::-webkit-scrollbar 
{
    display: none;
}
body
{
    font-family: 'Montserrat', sans-serif;
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
}

/* GENERAL STYLES */

.container 
{
    width: var(--container-width-lg);
    margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5
{
    font-weight: 500;
}

h1
{
    font-size: 2.5rem;
}

section
{
    margin-top: 8rem;
}

section > h2,
section > h5 
{
    text-align: center;
    color: var(--color-light);
}

section > h2 
{
    color: var(--color-primary);
    margin-bottom: 3rem;
}

.text-light 
{
    color: var(--color-light);
}
    
a
{
    color: var(--color-primary);
    transition: var(--transition);
}


a:hover 
{
    color: var(--color-white);
}
.btn 
{
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}
.btn:hover
{
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary 
{
    background: var(--color-primary);
    color: var(--color-bg);
}
.img
{
    display: block;
    width: 100%;
    object-fit: cover;
}

/*  MEDIA QUERIES ( MEDIUM DEVICES = TABLETS )  */

@media screen and (max-width: 1024px) 
{
    .container 
    {
        width: var(--container-width-md);
    }
    section 
    {
        margin-top: 6rem;
    }
}

/*  MEDIA QUERIES ( SMALL DEVICES = Mobile Phones )  */

@media screen and (max-width: 600px) 
{
    .container 
    {
        width: var(--container-width-sm);
    }
    section > h2
    {
        margin-bottom: 2rem;
    }
}




/* NAMEEEEE */

/* 
#wrapper
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #0A0A0A;
}

#wrapper
{
    display:block;
    min-height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper .static-text
{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}

#wrapper .dynamic-texts
{
    margin-left: 15px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}


.dynamic-texts li
{
    list-style: none;
    color: #ff4c29;
    font-size: 60px;
    font-weight: 500;
    top: 0;
    position: relative;
    animation: slide 12s steps(4)
    infinite;
}

@keyframes slide
{
    100%
    {
        top: -360px;
    }    
}

.dynamic-texts li
{
    position: relative;
}

.dynamic-texts li::after 
{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0A0A0A;
    border-left: 2px solid #ff4c29;
    animation: typing 3s steps(9)
    infinite;
}

@keyframes typing 
{
    40%,
    60%
    {
        left: calc(100% + 30px);
    }
    100%
    {
        left: 0; 
    }
} */